body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
div#toptext {
  color: white;
}

div#top {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 2.5%;
}
span#redcount {
  color: red;
}
span#greencount {
  color: green;
}
span#bluecount {
  color: blue;
}
div#red {
  background-color: rgb(20, 0, 0);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#green {
  background-color: rgb(0, 20, 0);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#blue {
  background-color: rgb(0, 0, 20);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#redbuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#redfiltercount {
  margin-right: 20%;
}
div#redbuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding1text {
  width: 55%;
}
div#redbuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding2text {
  width: 55%;
}
div#redbuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding3text {
  width: 55%;
}
div#redbuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding4text {
  width: 55%;
}
div#redbuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding5text {
  width: 55%;
}

button#redfilter {
  border: ridge;
  width: 150px;
  height: 24px;
}
button#redpointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#bigredfilter {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#bigredpointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#rednanometerwave {
  width: 150px;
  border: ridge;
  height: 24px;
}
div#redupgrades {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
div#redupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#redupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#redupgradesrow1 {
  padding-bottom: 0px;
  height: 100px;
  display: flex;
}
div#redupgradesrow2 {
  display: table-column;
  height: 100px;
}
button#redupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#redupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}

.bought1 {
  color: red;
}
div#redupgrades {
  display: none;
}
div#redupgradesbox {
  display: none;
}
div#tabs {
  background-color: rgb(20, 0, 0);
  display: flex;
  justify-content: center;
}
div#greenbuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#greenfiltercount {
  margin-right: 20%;
}
div#greenbuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding1text {
  width: 55%;
}
div#greenbuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding2text {
  width: 55%;
}
div#greenbuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding3text {
  width: 55%;
}
div#greenbuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding4text {
  width: 55%;
}
div#greenbuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding5text {
  width: 55%;
}

button#greenfilter {
  border: ridge;
  width: 150px;
  height: 24px;
}
button#greenpointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#biggreenfilter {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#biggreenpointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#greennanometerwave {
  width: 150px;
  border: ridge;
  height: 24px;
}
div#greenupgrades {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
div#greenupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#greenupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#greenupgradesrow2 {
  display: flex;
  height: 100px;
}
div#greenupgradesrow1 {
  display: flex;
  height: 100px;
}
button#greenupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#greenupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#bluebuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#bluefiltercount {
  margin-right: 20%;
}
div#bluebuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding1text {
  width: 55%;
}
div#bluebuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding2text {
  width: 55%;
}
div#bluebuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding3text {
  width: 55%;
}
div#bluebuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding4text {
  width: 55%;
}
div#bluebuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding5text {
  width: 55%;
}
button#bluefilter {
  border: ridge;
  width: 150px;
  height: 24px;
}
button#bluepointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#bigbluefilter {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#bigbluepointer {
  width: 150px;
  border: ridge;
  height: 24px;
}
button#bluenanometerwave {
  width: 150px;
  border: ridge;
  height: 24px;
}
div#blueupgrades {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
div#blueupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#blueupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
}
div#blueupgradesrow2 {
  display: table-column;
  height: 100px;
}
button#blueupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#blueupgradesrow1 {
  display: flex;
  height: 100px;
}
div#blueupgradesrow2 {
  display: table-column;
  height: 100px;
}
button#blueupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#blueupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
