html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(20, 0, 0);
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.timosucks {
  text-align: left;
  margin: 0px 0px 15px 15px;
}
.tab {
  width: calc(250px / 3);
}
#reward {
  border-bottom: outset;
  border-width: 5px;
  border-color: rgb(200, 25, 25);
  width: 100%;
  margin-left: 0px;
  border-left-width: 15px;
  padding-left: 15px;
  border-bottom-width: 5px;
  padding-bottom: 20px;
  margin-top: 5px;
}
#taskColor {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 4px red, 0 0 10px rgb(125, 0, 0);
}
div#tasks {
  display: none;
  color: rgb(200, 25, 25);
  position: absolute;
  text-align: right;
  right: 0px;
  border-left-style: outset;
  border-bottom-style: outset;
  border-width: 5px;
  border-color: rgb(200, 25, 25);
  width: 17.5%;
}

div#toptext {
  color: white;
}

div#top {
  padding-bottom: 5%;
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 2.5%;
}
span#redcount {
  color: rgb(200, 25, 25);
}
span#greencount {
  color: #00db00;
}
span#bluecount {
  color: rgb(50, 50, 255);
}
span#cyancount {
  color: rgb(0, 180, 190);
}
span#magentacount {
  color: magenta;
}
span#magiccount {
  color: #731dc8 !important;
  text-shadow: #0003fc 0 0 10px, #834c85 0 0 10px !important;
}
div#red {
  display: block;
  background-color: rgb(20, 0, 0);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#green {
  background-color: rgb(0, 20, 0);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#blue {
  background-color: rgb(0, 0, 20);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#yellow {
  background-color: rgb(44, 44, 0);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
div#cyan {
  display: none;
  background-color: rgb(0, 44, 44);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
div#redbuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#redfiltercount {
  margin-right: 20%;
}
div#redbuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding1text {
  width: 55%;
}
div#redbuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding2text {
  width: 55%;
}
div#redbuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding3text {
  width: 55%;
}
div#redbuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding4text {
  width: 55%;
}
div#redbuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#redbuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#redbuilding5text {
  width: 55%;
}

button#redfilter {
  /*border: ridge;*/
  width: 150px;
  height: 24px;
}
button#redpointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bigredfilter {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bigredpointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#rednanometerwave {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
div#redupgrades {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
div#redupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#redupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#redupgradesrow1 {
  padding-bottom: 0px;
  height: 100px;
  display: flex;
}
div#redupgradesrow2 {
  display: flex;
  height: 100px;
}
button#redupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#redupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}

.bought1 {
  color: rgb(200, 25, 25);
}
div#redupgrades {
  display: none;
}
div#redupgradesbox {
  display: none;
}
div#tabs {
  background-color: rgb(20, 0, 0);
  display: flex;
  justify-content: center;
  width: calc(250px / 3);
  flex-wrap: wrap;
  margin: 0;
}
div#greenbuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#greenfiltercount {
  margin-right: 20%;
}
div#greenbuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding1text {
  width: 55%;
}
div#greenbuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding2text {
  width: 55%;
}
div#greenbuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding3text {
  width: 55%;
}
div#greenbuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding4text {
  width: 55%;
}
div#greenbuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#greenbuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#greenbuilding5text {
  width: 55%;
}

button#greenfilter {
  /*border: ridge;*/
  width: 150px;
  height: 24px;
}
button#greenpointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#biggreenfilter {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#biggreenpointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#greennanometerwave {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
div#greenupgrades {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
div#greenupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#greenupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#greenupgradesrow2 {
  display: flex;
  height: 100px;
}
div#greenupgradesrow1 {
  display: flex;
  height: 100px;
}
button#greenupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#greenupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#bluebuild1 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
span#bluefiltercount {
  margin-right: 20%;
}
div#bluebuilding1 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding1text {
  width: 55%;
}
div#bluebuild2 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding2 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding2text {
  width: 55%;
}
div#bluebuild3 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding3 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding3text {
  width: 55%;
}
div#bluebuild4 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluebuilding4 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding4text {
  width: 55%;
}
div#bluebuild5 {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bluescroll {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}
div#bluebuilding5 {
  display: inline-block;
  margin-left: 0;
}
div#bluebuilding5text {
  width: 55%;
}
button#bluefilter {
  /*border: ridge;*/
  width: 150px;
  height: 24px;
}
button#bluepointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bigbluefilter {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bigbluepointer {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bluenanometerwave {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
button#bluescroll {
  width: 150px;
  /*border: ridge;*/
  height: 24px;
}
div#blueupgrades {
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  color: rgb(50, 50, 255);
}
div#blueupgradesbox {
  padding-top: 2%;
  color: white;
  border: 1px;
  display: flex;
  justify-content: center;
}
button#blueupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
}
div#blueupgradesrow2 {
  display: table-column;
  height: 100px;
}
button#blueupgrade1 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
div#blueupgradesrow1 {
  display: flex;
  height: 100px;
}
div#blueupgradesrow2 {
  display: table-column;
  height: 100px;
}
button#blueupgrade2 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#blueupgrade3 {
  transition-duration: 0.5s;
  width: 100px;
  height: 100px;
  display: none;
}
button#tabred {
  background-color: rgb(200, 25, 25);
  box-shadow: 0px 0px 50px 1px red;
}
button#tabblue {
  display: none;
  background-color: blue;
  box-shadow: 0px 0px 50px 1px blue;
}
button#tabgreen {
  display: none;
  background-color: green;
  box-shadow: 0px 0px 50px 1px green;
}
button#tabyellow {
  display: none;
  background-color: yellow;
  box-shadow: 0px 0px 50px 0px yellow;
}
button#tabcyan {
  display: none;
  background-color: cyan;
  box-shadow: 0 0 50px 1px cyan;
}
button#tabmagenta {
  display: none;
  background-color: magenta;
  box-shadow: 0 0 50px 1px magenta;
}
button#tabwhite {
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 50px 1px white;
  width: auto;
}
button#tabblack {
  background-color: black;
  color: white;
  box-shadow: 0 0 50px 5px black;
}
button {
  background-color: unset;
}
.redupgrades {
  background-color: rgb(200, 25, 25);
  background: linear-gradient(45deg, #6d0000, #ff2c2c, rgb(200, 25, 25));
}
.greenupgrades {
  background-color: green;
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
}
.blueupgrades {
  background-color: blue;
  background: linear-gradient(45deg, rgb(0 61 153), rgb(66 135 245), blue);
}
.blackupgrades {
  color: white;
  background-color: black;
  background: linear-gradient(45deg, black, #2b2b2b, #626262);
}
.whiteupgrades {
  background-color: white;
  background: linear-gradient(45deg, white, #bdbdbd, gray);
}
.redtext {
  color: rgb(200, 25, 25);
  /*text-shadow: 0 0 4px red, 0 0 10px rgb(125, 0, 0);*/
}
.redtext2 {
  color: rgb(200, 25, 25);
  text-shadow: 0 0 4px red, 0 0 10px rgb(125, 0, 0);
}
.bluetext {
  color: rgb(50, 50, 255);
  text-shadow: blue 0px 0px 10px, rgb(0, 0, 125) 0px 0px 10px;
}
.greentext {
  color: rgb(0, 219, 0);
  text-shadow: green 0px 0px 10px, rgb(0, 125, 0) 0px 0px 10px;
}
#body {
  text-shadow: 0px 0px 10px red, 0 0 10px rgb(125, 0, 0);
}
#submitTaskButton {
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  background-color: rgb(200, 25, 25);
  width: 100%;
  height: 10% !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}
div#confusion {
  text-align: center;
}
#yellowbuildings {
  margin-top: 15vh;
  text-align: center;
  justify-content: center;
}
#magentabuildings {
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  color: rgb(255, 55, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.yellowupgrades {
  height: 15vh;
  width: 20vh;
  margin-bottom: 4px;
  background-color: rgb(168, 140, 0);
  display: inline-grid;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  background: linear-gradient(45deg, rgb(101 84 0), yellow, rgb(168, 140, 0));
}
.yellowdescription {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.yellowdescription2 {
  margin-top: 0;
  margin-bottom: 0;
}
#yellowcount {
  color: rgb(168, 140, 0);
}
button:hover:not(.submit, #enterbutton, .spell) {
  scale: 1.1;
  z-index: 18;
}
button:not(.submit) {
  transition: 0.2s ease-out !important;
  transform: scale(1);
  transform-origin: center;
}
#enterbutton:hover {
  animation: expandtext 0.2s ease-out both;
}
@keyframes expandtext {
  0% {
    font-size: smaller;
  }
  100% {
    font-size: medium;
  }
}
#tabred:hover {
  box-shadow: 0px 0px 50px 12px red;
}
#tabyellow:hover {
  box-shadow: 0px 0px 50px 5px yellow;
}
#tabgreen:hover {
  box-shadow: 0px 0px 40px 20px green;
}
#tabblue:hover {
  box-shadow: 0px 0px 50px 14px blue;
}
#tabcyan:hover {
  box-shadow: 0 0 50px 8px cyan;
}
#tabmagenta:hover {
  box-shadow: 0 0 50px 10px magenta;
}
#tabwhite:hover {
  box-shadow: 0 0 100px 20px white;
}
#tabblack:hover {
  box-shadow: 0 0 100px 20px black;
}
div#cyanbuildings {
  display: inline-flex;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.cyanupgrades {
  background-color: rgb(0, 180, 190);
  text-align: center;
  width: 200px;
  height: 60px;
}
#redautomation {
  height: 100%;
}
button#redautomation {
  background: linear-gradient(45deg, #6d0000, #ff2c2c, rgb(200, 25, 25));
}
#greenautomation {
  height: 100%;
  margin: 0 10px;
}
button#greenautomation {
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
}
#blueautomation {
  height: 100%;
}
button#blueautomation {
  background: linear-gradient(45deg, rgb(0 61 153), rgb(66 135 245), blue);
}

.magentabuild {
  color: white;
  margin: auto;
  width: 50%;
  text-align: left;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.magentabuilding {
  display: inline-block;
  margin-left: 0;
  width: 350px;
}
.magentatext {
  width: 75%;
  color: magenta;
}
.magentaupgrades {
  width: 150px;
  height: 24px;
  background: linear-gradient(45deg, #5e005e, #ff00ff, #9b009b);
}
div#magenta {
  display: none;
  background-color: rgb(44, 0, 44);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.cyansubmit {
  background: linear-gradient(45deg, #004f4f, #00ffff, #009a9a);
}
.toggle {
  margin-top: 20px;
}
#redtoggle {
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
  height: 40px;
}
#greentoggle {
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
  height: 40px;
}
#bluetoggle {
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
  height: 40px;
}
#devtooltip {
  display: none;
  position: absolute;
  margin-left: 73;
  color: white;
  padding-top: 10px;
}
#alltabs {
  display: flex;
  justify-content: center;
}
div#spellcasting {
  margin-top: 10%;
}
.spell {
  color: white;
  background: round;
  height: 80px;
  width: 80px;
  display: block;
  justify-content: center;
}
.spellshell {
  transition: 0.2s;
  margin: 5px;
}
.spellshell:hover {
  transform: scale(1.1);
}
#magicslider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  background: #510b68;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
#magicslider:hover {
  opacity: 1;
}
#magicslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: radial-gradient(black 20%, magenta);
  cursor: pointer;
  border-radius: 50%;
}

#magicslider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
#magicinput {
  background: linear-gradient(45deg, darkmagenta, magenta, darkmagenta);
  width: 3.2vh;
}
#magicinputbox {
  margin-left: 3vh;
}
p#think {
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  width: 100%;
}
div#spellcastingbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#black {
  font-weight: 600;
  display: none;
  width: 100%;
  height: 100%;
}
#white {
  display: none;
  width: 100%;
  height: 100%;
}
#blackcount {
  color: black;
}
#whitecount {
  color: white;
}
#redscroll {
  display: none;
  height: 100px;
  width: 100px;
}
#greenscroll {
  display: none;
  width: 50%;
  height: 10%;
}
span#blackholeintrocost {
  display: flex;
  flex-direction: column;
}
.yellowtext {
  color: rgb(168, 140, 0);
  text-shadow: rgb(148, 148, 0) 0px 0px 10px, rgb(125, 125, 0) 0px 0px 10px;
}
.cyantext {
  color: rgb(0, 180, 190);
  text-shadow: cyan 0px 0px 10px, rgb(0, 125, 125) 0px 0px 10px;
}
.magentatext2 {
  color: magenta;
  text-shadow: rgb(255, 0, 238) 0px 0px 10px, rgb(255, 126, 126) 0px 0px 10px;
}
div#blackholeintro {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
div#lewissucks:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
p#blackholecounter {
  z-index: 10;
  /* z index a million */
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
div#lewissucks {
  z-index: 2;
  width: 200px;
  height: 200px;
}
#blackholecontainer {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  color: white;
  justify-content: center;
  align-items: center;
}
#blackhole {
  margin-top: 5%;
  box-shadow: 0 0 15px 5px white, 0 0 30px 10px orangered;
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  animation: gostupid 2s infinite;
}

@keyframes gostupid {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
button#redspell {
  color: #710000;
  font-size: small;
  font-weight: 900;
  background-image: url("images/locked_idiot.webp");
}
button#cyan1spell {
  background-image: url("images/locked_idiot.webp");
}
button#cyan2spell {
  background-image: url("images/locked_idiot.webp");
}
button#yellow1spell {
  background-image: url("images/locked_idiot.webp");
}
button#yellow2spell {
  background-image: url("images/locked_idiot.webp");
}
button#pinkspell {
  background-image: url("images/locked_idiot.webp");
}
button#greenspell {
  color: #004900;
  font-size: small;
  font-weight: 900;
  background-image: url("images/locked_idiot.webp");
}
button#bluespell {
  color: #000257;
  font-size: small;
  font-weight: 900;
  background-image: url("images/locked_idiot.webp");
}
button#magentaspell {
  color: #470047;
  font-weight: 900;
  font-size: small;
  background-image: url("images/locked_idiot.webp");
}
div#lewissucks.animate {
  animation: die 2s forwards;
}
@keyframes die {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-10px, 125%) scale(0.8) rotate(-10deg);
    opacity: 0.4;
  }
  100% {
    transform: translate(0, 0) scale(0.1) rotate(-360deg);
    opacity: -2;
  }
}
#blackhole.animate {
  animation: beeg 2s forwards;
}
@keyframes beeg {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(3);
  }
}
#holyalbertomode {
  display: none;
}
#Settings {
  z-index: 17;
  position: fixed;
  width: 79px;
}
#settingscontainer {
  z-index: 17;
  margin-top: 30px;
  flex-direction: column;
  display: none;
  position: fixed;
}
.setting {
  color: white;
  background: linear-gradient(45deg, #363636, #4f4f4f, #2b2b2b);
  width: 90px;
}
#reset {
  font-size: 10px;
  font-weight: 800;
}
#nerdmodetext {
  word-break: break-word;
  color: rgb(200, 25, 25);
  height: 100%;
  width: calc(50% - 220px);
  display: none;
  align-items: flex-start;
  margin-left: 190px;
  position: fixed;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
p#think.fadeout {
  animation: fadeout 1s forwards;
}
p#think.fadein {
  animation: fadein 1s forwards;
}
div#enterdiv {
  position: absolute;
}
button#enterbutton {
  font-size: smaller;
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  color: rgb(192, 192, 192);
  border-style: none;
}
div#blackhole.animate2 {
  animation: animate2 10s forwards;
  z-index: 10;
  background-color: black;
}
@keyframes animate2 {
  0% {
    scale: 3;
  }
  100% {
    scale: 30;
  }
}
div#blackhole.animate3 {
  animation: animate3 5s forwards;
  background-color: black;
}
@keyframes animate3 {
  0% {
    scale: 30;
    z-index: 10;
  }
  100% {
    scale: 3;
  }
}
div#pourbox {
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pourbutton {
  border: none;
  box-shadow: white 0px 0px 2px, rgb(255, 255, 255) 0px 0px 4px,
    white 0px 0px 1px, white 0px 0px 2px, rgb(255, 255, 255) 0px 0px 4px,
    white 0px 0px 1px inset;
  background-color: black;
  color: white;
  border-radius: 5px;
}
#useless {
  color: transparent;
  text-shadow: none;
}
#singularity {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px white;
  position: absolute;
  background-color: white;
  animation: squigglycircle 0.2s ease-out forwards alternate infinite;
}
@keyframes squigglycircle {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(-5px, 3px) scale(1.2);
  }
  40% {
    transform: translate(4px, -6px) scale(0.9);
  }
  60% {
    transform: translate(-3px, -4px) scale(1.1);
  }
  80% {
    transform: translate(6px, 2px) scale(0.95);
  }
  100% {
    transform: translate(-2px, 5px) scale(1);
  }
}
div#pourred {
  z-index: 11;
}
button#pourredbutton {
  z-index: 11;
}
div#black2 {
  z-index: 10;
  position: fixed;
  height: 100%;
  width: 100%;
}
div#pourmagenta {
  margin-bottom: 25%;
}
body::-webkit-scrollbar {
  display: none;
}
span#blackboost {
  font-size: 5em;
}
@keyframes explode {
  0% {
    transform: scale(1);
    box-shadow: 0 0 15px 5px white, 0 0 30px 10px rgba(255, 255, 255, 0.8);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    box-shadow: 0 0 100px 40px white, 0 0 200px 100px rgba(255, 165, 0, 0.8);
    opacity: 0.9;
  }
  100% {
    transform: scale(20);
    box-shadow: 0 0 0px 0px white, 0 0 300px 150px rgba(255, 69, 0, 0.5);
    opacity: 0;
  }
}
#saving {
  color: rgb(200, 25, 25);
  opacity: 0;
  font-size: small;
  margin-left: 2vh;
  margin-top: 95vh;
  position: fixed;
}
div#saving.fadeout {
  animation: fadeout 1s forwards;
}

#helpmenu {
  box-shadow: inset 0 0 15vh #2f2f2f;
  text-shadow: 0 0 5px white;
  border: inset black;
  color: white;
  background: linear-gradient(45deg, #363636, #4f4f4f, #2b2b2b);
  flex-wrap: wrap;
  display: none;

  position: fixed;
  z-index: 99;
  height: 40%;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 30vw;
  margin-top: 30vh;
  border-radius: 2%;
}
#magentaresettext {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 4vh;
  text-align: center;
}
.yesno {
  border-radius: 5%;
  font-size: large;
  margin: 1vh;
  width: 10vw;
  height: 10vh;
}
#yes {
  background: linear-gradient(45deg, #6d0000, #ff2c2c, rgb(200, 25, 25));
}
#no {
  background: linear-gradient(45deg, #003e00, #32db32, #025202);
}
#achievementButton {
  position: fixed;
  margin-top: 0;
  margin-left: 79px;
  width: auto;
  z-index: 11;
}
#achievementTab {
  box-shadow: black 0px 0px 20px 2px;
  overflow-y: scroll;
  position: fixed;
  border: inset black 2px;
  background: linear-gradient(45deg, #363636, #4f4f4f, #2b2b2b);
  width: 65vh;
  height: 55vh;
  margin-left: calc(50vw - 37.5vh - 1px);
  margin-top: calc(22.5vh - 1px);
  z-index: 19;
  display: none;
  color: white;
  text-shadow: none;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5vh;
}
#achievementTab::-webkit-scrollbar {
  display: none;
}
#achievementHolder {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
  align-content: center;
}
.achievement-item {
  background-image: "images/locked_idiot.webp";
  padding: 0;
  width: 100%;
  height: 100%;
}
.achievement-item > img {
  border: inset black;
  border-radius: 5%;
  width: 95%;
  height: 95%;
}
#achievementText {
  color: white;
  margin: 0 5% 5% 5%;
  width: 70vh;
  text-align: center;
  text-shadow: none !important;
}
#achievementInfo {
  text-align: center;
  background: black;
  padding: 3px;
  border: solid gray 1px;
  border-radius: 7px;
  width: 15vw;
  z-index: 21;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  text-shadow: 0 0 3px white;
  display: none;
}
#achievementNotification {
  z-index: 22;
  color: rgb(200, 25, 25);
  border-color: rgb(200, 25, 25);
  position: fixed;
  border-width: medium;
  border-style: outset none none outset;
  bottom: 0;
  right: 0;
  padding: 0;
  width: 20vw;
  height: 10vh;
  display: none;
  align-items: center;
}
#notificationImage {
  height: 100%;
}

@keyframes achievementMsg {
  0% {
    transform: translateX(30vw);
  }
  20% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30vw);
  }
}
#achievementNotification.slide {
  display: flex !important;
  animation: achievementMsg 6s ease-out forwards;
}

div#achievementInfo.achievementfade {
  animation: achievementboxfade 0.2s ease-in;
}

@keyframes achievementboxfade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
div#achievementInfo.achievementfadeaway {
  animation: achievementboxfadeaway 1s ease-in forwards;
}
@keyframes achievementboxfadeaway {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
